[submodule "userservice"]
	path = userservice
	url = https://github.com/Tusharpandao/hotel-manage-user-service.git
[submodule "ratingservice"]
	path = ratingservice
	url = https://github.com/Tusharpandao/hotel-manage-rating-service.git
[submodule "hotelservice"]
	path = hotelservice
	url = https://github.com/Tusharpandao/hotel-manage-hotel-Service.git
